name: Publish to NuGet

on:
  push:
    branches: [ main ] # Triggers on every push to main
  # Alternatively, trigger only on tagged releases:
  # release:
  #   types: [published]
jobs:
  publish:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.415' # Adjust to your version

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release -p:PackageVersion=1.0.${{ github.run_number }} --output ./nupkg

      - name: Run xUnit Tests
        run: dotnet test IQAir.Integration.Api.UnitTests/IQAir.Integration.Api.UnitTests.csproj --configuration Release --verbosity normal
          
      - name: Pack
        run: dotnet pack --configuration Release --no-build --output ./nupkg

      - name: Push to NuGet
        run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
